{% extends 'base.html' %}

{% block contain %}
    <div class="contain">
        <div class="row">
            <div class="col-md-6">
                <h3>主机列表</h3>
            </div>
            <div class="col-md-6 right-div">
                <a class="pull-right btn btn-default right-button" href="setconfig">配置部署</a>
                <a class="pull-right btn btn-default right-button">刷新</a>
                <a class="pull-right btn btn-default right-button">添加</a>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>名称</th>
                    <th>IP</th>
                    <th>CPU</th>
                    <th>内存</th>
                    <th>磁盘</th>
                    <th>网卡</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {% for host in hosts %}
                    <tr>
                        <td>
                            {{host.hostname}}
                        </td>
                        <td>
                            {{host.ip}}
                        </td>
                        <td>
                            {{ host.cpu_model }} x {{  host.cpu_num }}
                        </td>
                        <td>
                            {{ host.mem }} MB
                        </td>
                        <td>
                            {{ host.disk/1000 }} GB
                        </td>
                        <td>
                            {{ host.interface }}
                        </td>
                        <td>
                            {{ host.status }}
                        </td>
                        <td>
                            <a href="/host/init?id={{ host.id }}">获取信息</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}