        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="heading">
                <h3 class="uppercase">导航</h3>
            </li>
            <li class="start active open">
                <a href="/">
                    <i class="icon-home"></i>
                    <span class="title">首页</span>
                    <span class="c2 selected"></span>
                    <span class="c3 arrow open"></span>
                </a>
            </li>
            <li>
                <a href="/config">
                    <i class="icon-settings"></i>
                    <span class="title">配置</span>
                    <span class="c2"></span>
                    <span class="c3 arrow"></span>
                </a>
            </li>
            <li>
                <a href="/deploy">
                    <i class="icon-cursor"></i>
                    <span class="title">部署</span>
                    <span class="c2"></span>
                    <span class="c3 arrow"></span>
                </a>
            </li>
            <li>
                <a href="/status">
                    <i class="icon-puzzle"></i>
                    <span class="title">状态</span>
                    <span class="c2"></span>
                    <span class="c3 arrow"></span>
                </a>
            </li>
            <li>
                <a href="/logs">
                    <i class="icon-layers"></i>
                    <span class="title">日志</span>
                    <span class="c2"></span>
                    <span class="c3 arrow"></span>
                </a>
            </li>
            <li>
                <a href="/monitor">
                    <i class="icon-graph"></i>
                    <span class="title">监控</span>
                    <span class="c2"></span>
                    <span class="c3 arrow"></span>
                </a>
            </li>
            <li>
                <a href="/about">
                    <i class="icon-info"></i>
                    <span class="title">关于</span>
                    <span class="c2"></span>
                    <span class="c3 arrow"></span>
                </a>
            </li>

        </ul>